* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-container {
    background-color: #146C94;
}

.all {
    z-index: 2;
    position: relative;
}
  
button {
    border: 0;
    outline: 0;
}

.navbar-toggler i {
    color: white;
}

.nav-item a {
    color: #F6F1F1;
    font-weight: 700;
}  

.nav-item a:hover {
    color: #AFD3E2;
}

.navbar-brand p {
    color: #F6F1F1;
    font-weight: bold;
    margin-left: 50px;
}

.navbar-menu {
    color: #F6F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#home {
    margin-bottom: 250px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
}

.card-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.text-card {
    padding-right: 650px;
    color: #F6F1F1;
    font-weight: 700;
}

#project {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#contact {
    margin-top: 50px;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-img-overlay h1 {
    font-weight: 700;
    color: #F6F1F1;
}

.card-title h1 {
    color: #F6F1F1;
    font-weight: 700;
}

.header-about {
    color: #F6F1F1;
    font-weight: bold;
}

.project-header h2 {
    color: #F6F1F1;
    font-weight: bold;
    font-size: 36px;
}

.contact-header h2 {
    color: #F6F1F1;
    font-weight: bold;
    font-size: 36px;
}

.lead {
    font-weight: 700;
    color: #F6F1F1;
    margin-bottom: 50px;
}

.text-footer p {
    font-weight: 700;
    font-size: 20px;
    color: #F6F1F1;
}

.text-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text-menu p {
    font-weight: 700;
    font-size: 20px;
    color: #F6F1F1;
}

.card {
    border: 0;
    outline: 0;
}

.card-project img { 
    height: 275px;
    display: flex;
    align-items: center;
    object-fit: cover;
    justify-content: center;
}

.btn-sertifikat {
    background-color: #F6F1F1;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    margin-top: 100px;
}

@media only screen and (max-width: 900px) {
    .text-card {
        padding-right: 50px;
        color: #F6F1F1;
        font-weight: 700;
    }

    #home {
        margin-bottom: 150px;
        margin-left: 10px;
        margin-right: 10px;
        height: 100vh;
    }
    
    #project {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
    }

    .about-text {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }
}